.contenedor{
	background-color: white;
	border:1px solid blue;
	overflow: hidden;
}
h1{
	text-align: center; 
}
li{
	float: left;
	height: 40px;
	margin: 20px;
}
.img_2{
	float: right;
	margin: 0em 2em;
	border:1px solid black;
}
.img_1{
	float: left;
	margin: 0em 2em;
	border: 1px solid black;
}
.fa-moon-o{
	font-size: 5em;
	color:blue;
	margin-left: 5em;
}


